[pcw180]
Description=PCW / IBM 180k
Sidedness=Alt
Cylinders=40
Heads=1
Sectors=9
SecBase=1
SecSize=512
SecBase=1
DataRate=SD
RWGap=42
FmtGap=82
FM=N
Multitrack=Y
SkipDeleted=Y

[cpcsys]
Description=CPC System
Sidedness=Alt
Cylinders=40
Heads=1
Sectors=9
SecBase=65
SecSize=512
SecBase=65
DataRate=SD
RWGap=42
FmtGap=82
FM=N
Multitrack=Y
SkipDeleted=Y

[cpcdata]
Description=CPC Data
Sidedness=Alt
Cylinders=40
Heads=1
Sectors=9
SecBase=193
SecSize=512
SecBase=193
DataRate=SD
RWGap=42
FmtGap=82
FM=N
Multitrack=Y
SkipDeleted=Y

[pcw720]
Description=PCW / IBM 720k
Sidedness=Alt
Cylinders=80
Heads=2
Sectors=9
SecBase=1
SecSize=512
SecBase=1
DataRate=SD
RWGap=42
FmtGap=82
FM=N
Multitrack=Y
SkipDeleted=Y

[pcw1440]
Description=PcW16 / IBM 1440k 
Sidedness=Alt
Cylinders=80
Heads=2
Sectors=18
SecBase=1
SecSize=512
SecBase=1
DataRate=HD
RWGap=27
FmtGap=84
FM=N
Multitrack=Y
SkipDeleted=Y

[ibm160]
Description=IBM 160k (CP/M-86 / DOSPLUS)
Sidedness=Alt
Cylinders=40
Heads=1
Sectors=8
SecBase=1
SecSize=512
SecBase=1
DataRate=SD
RWGap=42
FmtGap=80
FM=N
Multitrack=Y
SkipDeleted=Y

[ibm320]
Description=IBM 320k (CP/M-86 / DOSPLUS)
Sidedness=Alt
Cylinders=40
Heads=2
Sectors=8
SecBase=1
SecSize=512
SecBase=1
DataRate=SD
RWGap=42
FmtGap=80
FM=N
Multitrack=Y
SkipDeleted=Y

[pcpm320]
Description=IBM 320k (CP/M-86 / DOSPLUS)
Sidedness=OutBack
Cylinders=40
Heads=2
Sectors=8
SecBase=1
SecSize=512
SecBase=1
DataRate=SD
RWGap=42
FmtGap=80
FM=N
Multitrack=Y
SkipDeleted=Y

[ibm360]
Description=IBM 360k (DOSPLUS)
Sidedness=Alt
Cylinders=40
Heads=2
Sectors=9
SecBase=1
SecSize=512
SecBase=1
DataRate=SD
RWGap=42
FmtGap=82
FM=N
Multitrack=Y
SkipDeleted=Y

[ibm720]
Description=IBM 720k (144FEAT)
Sidedness=OutBack
Cylinders=80
Heads=2
Sectors=9
SecBase=1
SecSize=512
SecBase=1
DataRate=SD
RWGap=42
FmtGap=82
FM=N
Multitrack=Y
SkipDeleted=Y

[ibm1200]
Description=IBM 1.2M (144FEAT)
Sidedness=OutBack
Cylinders=80
Heads=2
Sectors=15
SecBase=1
SecSize=512
SecBase=1
DataRate=HD
RWGap=27
FmtGap=84
FM=N
Multitrack=Y
SkipDeleted=Y

[ibm1440]
Description=IBM 1.4M (144FEAT)
Sidedness=OutBack
Cylinders=80
Heads=2
Sectors=18
SecBase=1
SecSize=512
SecBase=1
DataRate=HD
RWGap=27
FmtGap=84
FM=N
Multitrack=Y
SkipDeleted=Y

[acorn160]
Description=Acorn 160k
Sidedness=OutOut
Cylinders=40
Heads=1
Sectors=16
SecBase=0
SecSize=256
SecBase=0
DataRate=SD
RWGap=18
FmtGap=96
FM=N
Multitrack=Y
SkipDeleted=Y

[acorn320]
Description=Acorn 320k
Sidedness=OutOut
Cylinders=80
Heads=1
Sectors=16
SecBase=0
SecSize=256
SecBase=0
DataRate=SD
RWGap=18
FmtGap=96
FM=N
Multitrack=Y
SkipDeleted=Y

[acorn640]
Description=Acorn 640k
Sidedness=OutOut
Cylinders=80
Heads=2
Sectors=16
SecBase=0
SecSize=256
SecBase=0
DataRate=SD
RWGap=18
FmtGap=96
FM=N
Multitrack=Y
SkipDeleted=Y

[acorn800]
Description=Acorn 800k
Sidedness=Alt
Cylinders=80
Heads=2
Sectors=5
SecBase=0
SecSize=1024
SecBase=0
DataRate=SD
RWGap=4
FmtGap=5
FM=N
Multitrack=Y
SkipDeleted=Y

[acorn1600]
Description=Acorn 1600k
Sidedness=Alt
Cylinders=80
Heads=2
Sectors=10
SecBase=0
SecSize=1024
SecBase=0
DataRate=HD
RWGap=4
FmtGap=5
FM=N
Multitrack=Y
SkipDeleted=Y

[pcw800]
Description=PCW 800k
Sidedness=Alt
Cylinders=80
Heads=2
Sectors=10
SecBase=1
SecSize=512
SecBase=1
DataRate=SD
RWGap=12
FmtGap=23
FM=N
Multitrack=Y
SkipDeleted=Y

[pcw200]
Description=PCW 200k
Sidedness=Alt
Cylinders=40
Heads=1
Sectors=10
SecBase=1
SecSize=512
SecBase=1
DataRate=SD
RWGap=12
FmtGap=23
FM=N
Multitrack=Y
SkipDeleted=Y

[bbc100]
Description=BBC 100k
Sidedness=Alt
Cylinders=40
Heads=1
Sectors=10
SecBase=0
SecSize=256
SecBase=0
DataRate=SD
RWGap=42
FmtGap=80
FM=Y
Multitrack=Y
SkipDeleted=Y

[bbc200]
Description=BBC 200k
Sidedness=Alt
Cylinders=80
Heads=1
Sectors=10
SecBase=0
SecSize=256
SecBase=0
DataRate=SD
RWGap=42
FmtGap=80
FM=Y
Multitrack=Y
SkipDeleted=Y

[mbee400]
Description=Microbee 400k
Sidedness=Alt
Cylinders=40
Heads=1
Sectors=10
SecBase=0
SecSize=512
SecBase=0
DataRate=SD
RWGap=12
FmtGap=23
FM=N
Multitrack=Y
SkipDeleted=Y

[mgt800]
Description=MGT 800k
Sidedness=OutOut
Cylinders=80
Heads=2
Sectors=10
SecBase=1
SecSize=512
SecBase=1
DataRate=SD
RWGap=12
FmtGap=23
FM=N
Multitrack=Y
SkipDeleted=Y

[trdos640]
Description=TR-DOS 640k
Sidedness=Alt
Cylinders=80
Heads=2
Sectors=16
SecBase=1
SecSize=256
SecBase=1
DataRate=SD
RWGap=18
FmtGap=96
FM=N
Multitrack=Y
SkipDeleted=Y

[myz80]
Description=MYZ80 8Mb
Sidedness=Alt
Cylinders=64
Heads=1
Sectors=128
SecBase=0
SecSize=1024
SecBase=0
DataRate=ED
RWGap=42
FmtGap=82
FM=N
Multitrack=Y
SkipDeleted=Y

