*.o
*.lo
*.la
Makefile
.deps/
.libs/

libtool
stamp-h1
source/LibLink/lib/uk*
source/LibDsk/lib/uk*
source/LibDsk/tools/apriboot
source/LibDsk/tools/dskdump
source/LibDsk/tools/dskform
source/LibDsk/tools/dskid
source/LibDsk/tools/dskscan
source/LibDsk/tools/dsktest
source/LibDsk/tools/dsktrans
source/LibDsk/tools/dskutil
source/LibDsk/tools/forkslave
source/LibDsk/tools/md3serial
source/LibDsk/tools/serslave
source/LibLink/examples/events
source/LibLink/examples/llmaster
source/LibLink/examples/llslave
source/LibLink/examples/lltest
source/LibLink/examples/partest
source/LibLink/examples/precho
source/LibLink/examples/prhello
source/SdlTerm/psf2inc
source/SdlTerm/test
source/config.h
source/config.log
source/config.status
source/cpmredir/lib/libcpmredir.a
